*.pyc
*.so
*.jsonlines
logs
conll-2012
char_vocab*.txt
glove*.txt
glove*.txt.filtered
*.v*_*_conll
*.hdf5
coref_saved_models
data
eval_result_model_60000
eval_result_model_85000
persian_coref.zip
resources
screenlog.*
test_gpu.py
test_hazm.py
test_model
tf_hub_elmo
Readme.*
.idea
cc.fa.300.vec
cc.fa.300.vec.filtered
